*{
  margin: 0;
  padding: 0;
}
  :root{
    --color: linear-gradient(
                           90deg,
                           lightpink,
                           yellow
       );
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: none;
  display: inline-block;
  height: 555px;
  width: 290px;
  padding: 16px;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
}
 
.container > .text{
  padding: 10px 0px;
  margin: 0;
}
.container > .text p{
  font-size: 30px;
  font-weight: bold;
}
.container > .text p > span{
  float: right;
  height: 25px;
  width: 25px;
  margin: 0px 0px 0 5px ;
  border-radius: 50%;
  background: black;
}
.container > .text span{
  font-size: 12px;
  margin: 0 5px;
  font-weight: bold;
}
#input-value{
  height: 20%;
  width: 90%;
  padding: 10px;
  font-size: 26px;
  position: relative;
  border: 3px solid rgb(0, 0, 0);
  border-bottom: 7px solid; 
  border-radius: 25px 0 0 0;
  display: flex;
  justify-content: end; 
  align-items: end; 
  position: relative;
 }
 #input-value #display{
   display: block;
   word-wrap: break-word;
   max-width: 100%;
   max-height: 100%;
   line-height: 23px; 
   overflow: auto;
}

.keypad{
    width: 100%;
    margin-top: 8% ;
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(4,21%);
}
.keypad > button{
  border: 2px solid black;
  background: none;
  font-weight: bold;
  font-size: 23px;
  padding:12%;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 0px #000;
  transition: all 100ms linear;
}
.keypad .operator:not([value="C"]){
  color: #16e9a3;
}
.keypad > button:active{
  transform: scale(1.1);
}
.keypad > [value="C"]{
  background: #ff3399; 
  color:white;
  border:none;
}
[value="="] ,#equals{
  border: none;
  color:white;
  grid-column: 4;
  grid-row: 4/6;
  background-color: #ff2020;
}
@media (max-width: 550px){
    .container{
      width: 85%;
      height: 90%;
    }
    .keypad > button{
        padding:15%;
    }
   .keypad{
     grid-template-columns: repeat(4,21.5%);
   }
}